*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
 display: flex;

}

.painel{
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px 10px 10px;
    flex: 0.5;
    border-radius: 30px;
    transition: flex 0.7s ease-in;
}

.painel-active{
    width: 20vw;
    height: 80vh;  
    flex: 5;
}


@media  (max-width:500px) {
    .painel:nth-of-type(1){
        display: none;
    }
}